body{
    background-image: url("stampcardbackground3.png");
    background-size: cover;
}

button{
    padding: 2mm;
    background-color: rgb(155, 155, 155);
    border: 20mm rgb(181, 181, 181);
    font-size: 8mm;
    position: relative;
    margin: 10px;
    top: 20px;
}

#a4{
    position: absolute;
    top: 30mm;;
    left: 50%;
    transform: translate(-50%, 0);
    height:297mm;
    width: 210mm;
    background-color: red;
    margin-bottom: 40px;
    border-radius: 1.5mm;
    overflow: hidden;
}

#Wala{
    position: relative;
    top: 350mm;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 31mm;
    color: #fff;
    text-shadow: 
        7px 7px 5px #000;
    position: relative;
    left: 20mm;
    top: -5mm;
}

#stamps{
    position: relative;
    top: 30mm;
    left: 50%;
    transform: translate(-50%, 0);
    height: 200mm;
    width: 170mm;
    background-color: black;
    overflow: hidden;
}

.badge{
    height: 20mm;
    width: 20mm;
    position: absolute;
}
